body{
  background: rgb(0, 0, 0);
  animation-name: colorChange;
  animation-duration: 7s;
}
.box {
  width: 450px;
  padding: 40px;
  text-align: left;
  /* margin: auto; */
  margin-left: 5%;
  margin-top: 20%;
  color: #ffffff;
  font-family: 'Helvetica';
}

.box p{
  font-size: 18px;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-name: opacity;
}

ul{
  margin: 0;
  padding: 0;
}

.box h1{
  /* animation-name: colorChange; */
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-name: opacity;
}

.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-name: opacity;
}

.box li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  transition: all ease-in-out 250ms;
  
}

.box li a:hover{
  color: rgb(255, 238, 5);
}

.rhombus{
  transform: skew(-40deg);
  position: absolute;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 6s;
  animation-name: opacity;
}

.rhombus-1{
  background-image: linear-gradient(to right,#ff3700,#ffb700);
  /* background-image: linear-gradient(to right,#FF6A00,#FFEA00); */
  
  
  width: 340px;
  height: 80px;
  left: 800px;
  top: 630px;
  /* animation-name: moveRightR1; */
  /* animation-duration: 2.5s; */
}
.rhombus-2{
  background-image: linear-gradient(to right, #0077ff, #00e1ff);
  width: 250px;
  height: 50px;
  /* left: 20px; */
  top: 210px;
  left: 150px;
  /* animation-name: moveRightR2; */
  /* animation-duration: 2.8s; */

}
.rhombus-3{
  
  background-image: linear-gradient(to right, #00ff6a, #00ffd5);
  /* background-image: linear-gradient(to right, #00ff6a, #00FFEA); */
  /* transform: skew(40deg); */

  width: 300px;
  height: 50px;
  top: 750px;
  left: 300px;
  /* animation-name: moveRightR3; */
  /* animation-duration: 2.7s; */
}
.rhombus-4{
  background: linear-gradient(to right, #6f00ff, #ff0095);
  /* background: linear-gradient(to right, #6f00ff, #ef00ff); */

  /* background-image: linear-gradient(to right,#ff3700,#ffb700); */
  
  width: 900px;
  height: 200px;
  /* width: 55%;
  height: 22.5%; */
  left: -100px;
  /* bottom: 410px; */
  /* top: 0px; */
  top: 380px;
  z-index: -1;
  /* opacity: .65; */
  /* animation-name: moveRightR4; */
  /* animation-duration: 2.9s; */

}
.rhombus-5{
  background: linear-gradient(to right, #ffffff,#000000);
  /* background-image: linear-gradient(to right,#ff3700,#ffb700); */
  transform: skew(40deg);
  width: 360px;
  height: 70px;
  left: 980px;
  /* bottom: 410px; */
  /* top: 0px; */
  top: 280px;
  z-index: -1;
  /* opacity: .5; */
  /* animation-name: moveRightR5; */
  /* animation-duration: 2.2s; */
}

#loader {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  /* display: flex; */
  transform: skew(-40deg);
  /* align-items: center; */
  transition: all .2s ease;
}

.obj {
  width: 200px;
  height: 50px;
  background: #000000;
  margin: 0 3px;
  /* border-radius: 10px; */
  animation: loading 3.1s;
  animation-iteration-count: 1;
}



@keyframes loading {
  0%{width: 0px;}
  70%{width: 200px; opacity: 1;}
  90%{opacity: 0; width: 200px;}
  100%{opacity: 0;width: 200px;}
}

@keyframes width{
  0%{width: 0px;}
  100%{width: 360px;}
}
@keyframes opacity{
  0%{opacity: 0;}
  /* 25%{opacity:.25;}
  50%{opacity: .5;} */
  /* 80%{opacity: .;} */
  100%{opacity: 1;}
}

@keyframes colorChange{
  0%{background: white;}
  100%{background: black;}
}




@keyframes moveRightR1{
  0%{left: -680px;}
  /* 80%{left: -300px;} */
  /* 30%{left: -400px;} */
  /* 50%{left: 0px;}
  75%{left: 400px;} */
  90%{left: 720px;}
  100%{left: 800px;}
}

@keyframes moveRightR2{
  0%{left: -500px;}
  /* 80%{left: -300px;} */
  /* 30%{left: -400px;} */
  /* 50%{left: 0px;} */
  /* 75%{left: 75px;} */
  90%{left: 135px;}
  100%{left: 150px;}
}

@keyframes moveRightR3{
  0%{left: -600px;}
  /* 80%{left: -300px;} */
  /* 50%{left: 0px;}
  75%{left: 150px;} */
  90%{left:270px;}
  100%{left: 300px;}
}

@keyframes moveRightR4{
  0%{left: -1800px;}
  /* 80%{left: -300px;} */
  /* 30%{left: -400px;} */
  90%{left: -200px}
  100%{left: -100px;}
}

@keyframes moveRightR5{
  0%{left: -720px;}
  /* 80%{left: -300px;} */
  /* 30%{left: -400px;} */
  /* 50%{left: 0px;} */
  /* 75%{left: 480px;} */
  90%{left:882}
  100%{left: 980px;}
}